.vagrant
*.retry
inventory/**/hosts
inventory/**/hosts.bak
inventory/vagrant_ansible_inventory
inventory/**/group_vars/fake_hosts.yml
inventory/**/host_vars/
temp
.idea
.tox
.cache
*.bak
*.egg-info
*.pyc
*.pyo
contrib/**/.terraform
contrib/**/.tfstate
contrib/**/terraform.tfstate.d
contrib/**/*.tfstate.backup
contrib/**/*.plan
**/*.sw[pon]
vagrant/
